<!--Title-->
<div *ngIf="videoDetail" class="vid-details">
  <div class="header">
    <h1>{{ videoDetail?.title }}</h1>
  </div>
  <!--VideoPlayer for Angular implemented here-->
  <div class="video-player">
    <vg-player>
      <video
        #media
        #vgHls="vgHls"
        [vgMedia]="media"
        [vgDash]="videoUrl"
        [vgHls]="videoUrl"
        id="singleVideo"
        width="600"
        height="320"
        controls
        crossorigin
      ></video>
    </vg-player>
  </div>
  <!--Description & Title for the video detail page added-->
  <div class="details">
    <h1>Details</h1>
    <p><b>Title</b>: {{ videoDetail.title }}</p>
    <p><b>Description</b>: {{ videoDetail.description }}</p>
  </div>
</div>
